name: "Build, Test and Publish"
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  workflow_dispatch:
  release:
    types: [ published ]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: silenium-dev/actions/kotlin@main
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          snapshot-repo-url: "https://repoflow.silenium.dev/api/maven/public/maven-snapshots"
          release-repo-url: "https://repoflow.silenium.dev/api/maven/public/maven-releases"
          repo-username: ${{ secrets.REPOFLOW_USERNAME }}
          repo-password: ${{ secrets.REPOFLOW_PASSWORD }}
          java-version: 8
  dependency-submission:
    runs-on: ubuntu-latest
    if: "github.event_name != 'release'"
    steps:
      - uses: actions/checkout@v6
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v3
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
